*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Montserrat';
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.hero{
    padding-top: 196px;
}

.hero__title{
 margin-bottom: 24px;
 font-size: 64px;
 font-weight: 700;
}

.hero__text{
    font-size: 24px;
    font-weight: 400;
}

.hreo__btn{
    width: 117px;
    height: 34px;
    border-radius: 60px;
    border: 1px solid #000;
    color: white;
    background: #000;
    margin-top: 48px;
}

.hero__img{
    position: relative;
    top: -518px;
    left: -120px;
}

.img__bigBoom{
    position: absolute;
    top: 0;
    left: 820px;
    height: 800px;
}
.img__star2{
    position: absolute;
    top:94px;
    left: 64px;
}

.img__star3{
    position: absolute;
    top:69px;
    left: 154px;
}

.img__star4{
    position: absolute;
    top:568px;
    left:1013px;
}

.img__star5{
    position: absolute;
    top:538px;
    left:948px;
}

.main{
    background: #000;
}
.main__title{
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    padding-top: 94px;
}

.main__text{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 62px;
    width: 788px;
}

.main__img{
    border-radius: 30px;
}



.main__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    position: relative;
}
.main__img_4{
    position: absolute;
    top: 30px;
    left: 65px;
}

.main__card_poz{
    position: absolute;
    top: -36px;
}

.main__card{
    background: #fff;
    width: 378px;
    height: 551px;
    border-radius: 30px;
    position: relative;
}

.main__card_min{
    height: 473px;
    width: 378px;
}

.main__card_average{
    height: 521px;
    width: 378px;
}

.main__number{
    background: #f7f7f7;
    width:108px;
    height: 36px;
    border-radius: 53px;
    margin-left: 32px;
    margin-top: 32px;
    padding-top: 8px;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 500;
}

.main__text-card{
    font-size: 32px;
    font-weight: 700;
    margin-left: 32px;
    margin-top: 16px;
}

.footer{
    background: #BDED35;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer__text{
    font-size: 24px;
    font-weight: 600;
}